=====================================
Theme: {{ theme }}
Strength: {{ strength }}
Branch fit: {{ branch_fit }}
-------------------------------------
S: {{ situation }}
T: {{ task }}
A: {{ action }}
R: {{ result }}
Reflection: {{ reflection }}
=====================================
